PLANETMINT_GO=planetmint-god
PLANETMINT_ACTOR=plmnt15xuq0yfxtd70l7jzr5hg722sxzcqqdcr8ptpl5
PLANETMINT_KEYRING=
FIRMWARE_ESP32=./tasmota32-rddl.bin
FIRMWARE_ESP32C3=./tasmota32c3-rddl.bin
SERVICE_PORT=8080
SERVICE_BIND=localhost
